## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
**/Properties/launchSettings.json

## Logs
logs/
*.log

## Environment / Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json
*.env
.env

## Rider / VS Code
.idea/
.vscode/

## Docker volumes
pgdata/
